<div class="about-main">
  <h2>
    疑問は後で解決しよう。<br>
  </h2>
  <br>
  <h1>WordSheetとは</h1>
  <br>
  <p>
    WordSheetはとにかく手を動かしたい人のための単語帳サービスです。<br>
    ふと思い出したこと、わからなかった用語などは書き溜めておいて、<br>
    後で調べて自分の言葉でログを残すことができます。<br>
    受験生やエンジニアなど、専門的な知識を多くインプットする人におすすめです。
  </p>
</div>
