<p id="notice"><%= notice %></p>

<div class="main">
  <div class="UIContainer">
    <div class="WordContent">
      用語 / 解説
    </div>
    <%= link_to '新規作成', new_word_path %>
  </div>
  <br>
</div>
